<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sdbpmn2 -->
      <package
            uri="http://www.eclipse.org/stardust/model/bpmn2/sdbpmn"
            class="org.eclipse.stardust.model.bpmn2.sdbpmn.SdbpmnPackage"
            genModel="model/sdbpmn2.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated sdbpmn2 -->
      <parser
            type="sdbpmn"
            class="org.eclipse.stardust.model.bpmn2.sdbpmn.util.SdbpmnResourceFactoryImpl"/>
   </extension>



   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated sdbpmn2 -->
      <parser
            type="carnotworkflowmodel"
            class="org.eclipse.stardust.model.xpdl.carnot.util.CarnotWorkflowModelResourceFactoryImpl"/>
   </extension>

</plugin>
