<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="com.infinity.bpm.messaging.modeling.debug.PersistableSourceLocator"
            id="com.infinity.bpm.messaging.modeling.debug.sourceLocator"
            name="name">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.infinity.bpm.messaging.modeling.debug.launcher.TransformationLaunchDebugDelegate"
            id="com.infinity.bpm.messaging.modeling.debug.transformation.launchDelegate"
            modes="debug"
            name="Infinity Message Transformation Test Debugger"
            sourceLocatorId="com.infinity.bpm.messaging.modeling.debug.sourceLocator"
            type="com.infinity.bpm.messaging.modeling.application.transformation.launch.testType">
      </launchDelegate>
   </extension>
   <extension
         id="this.is.my.views.extension"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="ag.carnot.workflow.model.debug.viewcategory"
            class="com.infinity.bpm.messaging.modeling.debug.views.TransformationMappingDebugView"
            icon="icons/debug_view.gif"
            id="com.infinity.bpm.messaging.modeling.debug.views.TransformationMappingDebugView"
            name="%mtaDebugView">
      </view>
   </extension>
   <!--extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.infinity.bpm.messaging.modeling.debug.perspectives.MessageTransformationTestDebugPerspective"
            icon="icons/debug_perspective.gif"
            id="com.infinity.bpm.messaging.modeling.debug.perspectives.MessageTransformationTestDebugPerspective"
            name="Message Transfomration Test Debugging">
      </perspective>
   </extension-->
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.infinity.bpm.messaging.modeling.debug.model.DebugModelPresentation"
            id="com.infinity.bpm.messaging.modeling.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="com.infinity.bpm.messaging.modeling.debug"
            delegateClass="com.infinity.bpm.messaging.modeling.debug.WatchExpressionDelegate">
      </watchExpressionDelegate>
   </extension>
   <!--extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.infinity.bpm.messaging.modeling.debug.viewContribution1"
            targetID="org.eclipse.debug.ui.DebugView">
         <menu
               id="com.infinity.bpm.messaging.modeling.debug.menu1"
               label="label">
            <groupMarker
                  name="com.infinity.bpm.messaging.modeling.debug.groupMarker1">
            </groupMarker>
            <separator
                  name="com.infinity.bpm.messaging.modeling.debug.separator1">
            </separator>
         </menu>
         <action
               class="com.infinity.bpm.messaging.modeling.debug.ViewActionDelegate1"
               id="com.infinity.bpm.messaging.modeling.debug.action1"
               label="label"
               style="push">
         </action>
      </viewContribution>
   </extension-->

</plugin>
