<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2011 SunGard CSA LLC and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
       SunGard CSA LLC - initial API and implementation and/or initial documentation
 -->

<plugin>
   <extension
         point="org.eclipse.stardust.modeling.core.dataTypes">
      <dataType
            accessPathEditorClass="org.eclipse.stardust.modeling.integration.dms.data.DmsDocumentAccessPathEditor"
            icon="icons/full/obj16/dms_document.gif"
            id="dmsDocument"
            initializerClass="org.eclipse.stardust.modeling.integration.dms.data.DmsDocumentInitializer"
            name="%document">
         <attribute
               name="carnot:engine:evaluator"
               value="com.infinity.bpm.rt.integration.data.dms.VfsDocumentAccessPathEvaluator">
         </attribute>
         <attribute
               name="carnot:engine:validator"
               value="com.infinity.bpm.rt.integration.data.dms.VfsDocumentValidator">
         </attribute>
         <attribute
               name="carnot:engine:dataLoader"
               value="ag.carnot.bpm.rt.data.structured.spi.StructuredDataLoader">
         </attribute>
         <attribute
               name="carnot:engine:dataFilterExtension"
               value="ag.carnot.bpm.rt.data.structured.spi.StructuredDataFilterExtension">
         </attribute>
      </dataType>
      <dataType
            accessPathEditorClass="org.eclipse.stardust.modeling.integration.dms.data.DmsDocumentListAccessPathEditor"
            icon="icons/full/obj16/dms_document_list.gif"
            id="dmsDocumentList"
            initializerClass="org.eclipse.stardust.modeling.integration.dms.data.DmsDocumentListInitializer"
            name="%documentList">
         <attribute
               name="carnot:engine:evaluator"
               value="com.infinity.bpm.rt.integration.data.dms.VfsDocumentListAccessPathEvaluator">
         </attribute>
         <attribute
               name="carnot:engine:validator"
               value="com.infinity.bpm.rt.integration.data.dms.VfsDocumentListValidator">
         </attribute>
         <attribute
               name="carnot:engine:dataLoader"
               value="ag.carnot.bpm.rt.data.structured.spi.StructuredDataLoader">
         </attribute>
         <attribute
               name="carnot:engine:dataFilterExtension"
               value="ag.carnot.bpm.rt.data.structured.spi.StructuredDataFilterExtension">
         </attribute>
      </dataType>
      <dataType
            accessPathEditorClass="org.eclipse.stardust.modeling.integration.dms.data.DmsFolderAccessPathEditor"
            icon="icons/full/obj16/dms_folder.gif"
            id="dmsFolder"
            initializerClass="org.eclipse.stardust.modeling.integration.dms.data.DmsFolderInitializer"
            name="%folder">
         <attribute
               name="carnot:engine:evaluator"
               value="com.infinity.bpm.rt.integration.data.dms.VfsFolderAccessPathEvaluator">
         </attribute>
         <attribute
               name="carnot:engine:validator"
               value="com.infinity.bpm.rt.integration.data.dms.VfsFolderValidator">
         </attribute>
         <attribute
               name="carnot:engine:dataLoader"
               value="ag.carnot.bpm.rt.data.structured.spi.StructuredDataLoader">
         </attribute>
         <attribute
               name="carnot:engine:dataFilterExtension"
               value="ag.carnot.bpm.rt.data.structured.spi.StructuredDataFilterExtension">
         </attribute>
      </dataType>
      <dataType
            accessPathEditorClass="org.eclipse.stardust.modeling.integration.dms.data.DmsFolderListAccessPathEditor"
            icon="icons/full/obj16/dms_folder_list.gif"
            id="dmsFolderList"
            initializerClass="org.eclipse.stardust.modeling.integration.dms.data.DmsFolderListInitializer"
            name="%folderList">
         <attribute
               name="carnot:engine:evaluator"
               value="com.infinity.bpm.rt.integration.data.dms.VfsFolderListAccessPathEvaluator">
         </attribute>
         <attribute
               name="carnot:engine:validator"
               value="com.infinity.bpm.rt.integration.data.dms.VfsFolderListValidator">
         </attribute>
         <attribute
               name="carnot:engine:dataLoader"
               value="ag.carnot.bpm.rt.data.structured.spi.StructuredDataLoader">
         </attribute>
         <attribute
               name="carnot:engine:dataFilterExtension"
               value="ag.carnot.bpm.rt.data.structured.spi.StructuredDataFilterExtension">
         </attribute>
      </dataType>
   </extension>
   <extension
         point="org.eclipse.stardust.modeling.validation.bridgeObjectProvider">
      <bridgeObjectProvider
            class="org.eclipse.stardust.modeling.integration.dms.data.DmsDocumentValidator"
            dataTypeId="dmsDocument"
            id="dmsDocumentValidator">
      </bridgeObjectProvider>
      <bridgeObjectProvider
            class="org.eclipse.stardust.modeling.integration.dms.data.DmsDocumentListValidator"
            dataTypeId="dmsDocumentList"
            id="dmsDocumentListValidator">
      </bridgeObjectProvider>
      <bridgeObjectProvider
            class="org.eclipse.stardust.modeling.integration.dms.data.DmsFolderValidator"
            dataTypeId="dmsFolder"
            id="dmsFolderValidator">
      </bridgeObjectProvider>
      <bridgeObjectProvider
            class="org.eclipse.stardust.modeling.integration.dms.data.DmsFolderListValidator"
            dataTypeId="dmsFolderList"
            id="dmsFolderListValidator">
      </bridgeObjectProvider>
   </extension>
   <extension
         point="org.eclipse.stardust.modeling.core.applicationTypes">
      <application
            accessPointProvider="org.eclipse.stardust.modeling.integration.dms.application.VfsOperationModelingAccessPointProvider"
            icon="icons/full/obj16/dms_application.gif"
            id="dmsOperation"
            name="%dmsOperation"
            synchronous="true">
         <attribute
               name="carnot:engine:applicationInstance"
               value="com.infinity.bpm.rt.integration.data.dms.VfsOperationApplicationInstance">
         </attribute>
         <attribute
               name="carnot:engine:validator"
               value="com.infinity.bpm.rt.integration.data.dms.VfsOperationValidator">
         </attribute>
         <attribute
               name="carnot:engine:accessPointProvider"
               value="com.infinity.bpm.rt.integration.data.dms.VfsOperationAccessPointProvider">
         </attribute>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="extension"
            class="org.eclipse.stardust.modeling.integration.dms.data.ProcessAttachmentsPropertyPage"
            icon="icons/full/obj16/data.gif"
            id="org.eclipse.stardust.modeling.integration.dms.integration.processAttachments.page"
            name="%processAttachmentsPropertyPage">
         <enabledWhen>
            <and>
               <instanceof value="org.eclipse.stardust.model.xpdl.carnot.ProcessDefinitionType"/>
            </and>
         </enabledWhen>
      </page>
      <page
            category="extension"
            class="org.eclipse.stardust.modeling.integration.dms.data.DmsResourcePropertyPage"
            icon="icons/full/obj16/dms_document.gif"
            id="dmsDocumentCoreProperties"
            name="%dmsDocumentPropertyPage">
         <enabledWhen>
            <and>
               <instanceof value="org.eclipse.stardust.model.xpdl.carnot.DataType"/>
               <test property="com.infinity.properties.metaType" value="dmsDocument"/>
            </and>
         </enabledWhen>
      </page>
      <page
            category="extension"
            class="org.eclipse.stardust.modeling.integration.dms.data.DmsResourcePropertyPage"
            icon="icons/full/obj16/dms_document_list.gif"
            id="dmsDocumentListCoreProperties"
            name="%dmsDocumentListPropertyPage">
         <enabledWhen>
            <and>
               <instanceof value="org.eclipse.stardust.model.xpdl.carnot.DataType"/>
               <test property="com.infinity.properties.metaType" value="dmsDocumentList"/>
            </and>
         </enabledWhen>
      </page>
      <page
            category="extension"
            class="org.eclipse.stardust.modeling.integration.dms.data.DmsResourcePropertyPage"
            icon="icons/full/obj16/dms_folder.gif"
            id="dmsFolderCoreProperties"
            name="%dmsFolderPropertyPage">
         <enabledWhen>
            <and>
               <instanceof value="org.eclipse.stardust.model.xpdl.carnot.DataType"/>
               <test property="com.infinity.properties.metaType" value="dmsFolder"/>
            </and>
         </enabledWhen>
      </page>
      <page
            category="extension"
            class="org.eclipse.stardust.modeling.integration.dms.data.DmsResourcePropertyPage"
            icon="icons/full/obj16/dms_folder_list.gif"
            id="dmsFolderCoreProperties"
            name="%dmsFolderListPropertyPage">
         <enabledWhen>
            <and>
               <instanceof value="org.eclipse.stardust.model.xpdl.carnot.DataType"/>
               <test property="com.infinity.properties.metaType" value="dmsFolderList"/>
            </and>
         </enabledWhen>
      </page>
      <page
            category="spi"
            class="org.eclipse.stardust.modeling.integration.dms.application.VfsOperationCoreProperties"
            icon="icons/full/obj16/dms_application.gif"
            id="_cwm_spi_application_"
            name="%dmsOperationPropertyPage">
         <enabledWhen>
            <and>
               <instanceof value="org.eclipse.stardust.model.xpdl.carnot.ApplicationType"/>
               <test property="com.infinity.properties.metaType" value="dmsOperation"/>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.stardust.modeling.validation.modelElementValidator">
      <modelElementValidator
            class="org.eclipse.stardust.modeling.integration.dms.application.VfsOperationValidator"
            id="vfsOperationValidator"
            metaTypeId="dmsOperation"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ApplicationType">
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.integration.dms.data.DmsDocumentValidator"
            id="DmsDocumentValidator"
            metaTypeId="dmsDocument"
            targetType="org.eclipse.stardust.model.xpdl.carnot.DataType">
         <filter
               name="metaType"
               value="dmsDocument">
         </filter>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.integration.dms.data.DmsDocumentListValidator"
            id="DmsDocumentListValidator"
            metaTypeId="dmsDocumentList"
            targetType="org.eclipse.stardust.model.xpdl.carnot.DataType">
         <filter
               name="metaType"
               value="dmsDocumentList">
         </filter>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.integration.dms.data.DmsFolderValidator"
            id="DmsFolderValidator"
            metaTypeId="dmsFolder"
            targetType="org.eclipse.stardust.model.xpdl.carnot.DataType">
         <filter
               name="metaType"
               value="dmsFolder">
         </filter>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.integration.dms.data.DmsFolderListValidator"
            id="DmsFolderListValidator"
            metaTypeId="dmsFolderList"
            targetType="org.eclipse.stardust.model.xpdl.carnot.DataType">
         <filter
               name="metaType"
               value="dmsFolderList">
         </filter>
      </modelElementValidator>
   </extension>

</plugin>
