<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2011 SunGard CSA LLC and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
       SunGard CSA LLC - initial API and implementation and/or initial documentation
 -->

<plugin>
   <extension-point id="modelElementValidator" name="Model Element Validator" schema="schema/modelElementValidator.exsd"/>
   <extension-point id="bridgeObjectProvider" name="Bridge Object Provider" schema="schema/bridgeObjectProvider.exsd"/>
   <extension-point id="modelValidator" name="Model Validator" schema="schema/modelValidator.exsd"/>
   <extension
         id="wfModelValidationMarker"
         name="%validationMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="false"/>
      <attribute name="wfModelValidationElementId"/>
   </extension>
   <extension
         id="wfModelVerifier"
         name="%modelValidator"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.eclipse.stardust.modeling.validation.WorkflowModelValidator">
            <parameter
                  name="org.eclipse.stardust.modeling.validation.parameter1"
                  value="org.eclipse.stardust.modeling.validation.parameter1"/>
         </run>
      </builder>
 </extension>
   <extension
         point="org.eclipse.stardust.modeling.validation.modelValidator">
      <modelValidator
            class="org.eclipse.stardust.modeling.validation.impl.DefaultModelValidator"
            id="org.eclipse.stardust.modeling.validation.modelType"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ModelType"/>
      <modelValidator
            class="org.eclipse.stardust.modeling.validation.impl.ConfigurationVariableValidator"
            id="org.eclipse.stardust.modeling.validation.configurationVariables"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ModelType">
      </modelValidator>
      <modelValidator
            class="org.eclipse.stardust.modeling.validation.impl.ExternalPackagesValidator"
            id="org.eclipse.stardust.modeling.validation.externalPackages"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ModelType">
      </modelValidator>
      <modelValidator
            class="org.eclipse.stardust.modeling.validation.impl.QualityAssuranceCodeValidator"
            id="org.eclipse.stardust.modeling.validation.qualityassurancecode"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ModelType">
      </modelValidator>
 </extension>


   <extension
         point="org.eclipse.stardust.modeling.validation.modelElementValidator">

      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.IdentifiableModelElementValidator"
            id="org.eclipse.stardust.modeling.validation.identifiableModelElement"
            targetType="org.eclipse.stardust.model.xpdl.carnot.IIdentifiableModelElement"/>

	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.TriggerValidator"
			id="org.eclipse.stardust.modeling.validation.trigger"
			targetType="org.eclipse.stardust.model.xpdl.carnot.TriggerType"/>

      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.triggerTypes.JMSTriggerValidator"
            id="org.eclipse.stardust.modeling.validation.jmsTrigger"
            metaTypeId="jms"
            targetType="org.eclipse.stardust.model.xpdl.carnot.TriggerType">
         <filter
               name="metaType"
               value="jms"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.triggerTypes.MailTriggerValidator"
            id="org.eclipse.stardust.modeling.validation.mailTrigger"
            metaTypeId="mail"
            targetType="org.eclipse.stardust.model.xpdl.carnot.TriggerType">
         <filter
               name="metaType"
               value="mail"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.triggerTypes.ManualTriggerValidator"
            id="org.eclipse.stardust.modeling.validation.manualTrigger"
            metaTypeId="manual"
            targetType="org.eclipse.stardust.model.xpdl.carnot.TriggerType">
         <filter
               name="metaType"
               value="manual"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.triggerTypes.ManualTriggerValidator"
            id="org.eclipse.stardust.modeling.validation.scanTrigger"
            metaTypeId="scan"
            targetType="org.eclipse.stardust.model.xpdl.carnot.TriggerType">
         <filter
               name="metaType"
               value="scan"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.triggerTypes.TimerTriggerValidator"
            id="org.eclipse.stardust.modeling.validation.timerTrigger"
            metaTypeId="timer"
            targetType="org.eclipse.stardust.model.xpdl.carnot.TriggerType">
         <filter
               name="metaType"
               value="timer"/>
      </modelElementValidator>

      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.ApplicationValidator"
            id="org.eclipse.stardust.modeling.validation.application"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ApplicationType"/>

      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.applicationTypes.JMSValidator"
            id="org.eclipse.stardust.modeling.validation.jmsApplication"
            metaTypeId="jms"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ApplicationType">
         <filter
               name="metaType"
               value="jms"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.applicationTypes.PlainJavaValidator"
            id="org.eclipse.stardust.modeling.validation.plainJavaApplication"
            metaTypeId="plainJava"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ApplicationType">
         <filter
               name="metaType"
               value="plainJava"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.applicationTypes.SessionBeanValidator"
            id="org.eclipse.stardust.modeling.validation.sessionBeanApplication"
            metaTypeId="sessionBean"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ApplicationType">
         <filter
               name="metaType"
               value="sessionBean"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.applicationTypes.SessionBean20Validator"
            id="org.eclipse.stardust.modeling.validation.sessionBean20Application"
            metaTypeId="sessionBean20"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ApplicationType">
         <filter
               name="metaType"
               value="sessionBean20"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.applicationTypes.WebserviceApplicationValidator"
            id="org.eclipse.stardust.modeling.validation.webServiceApplication"
            metaTypeId="webservice"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ApplicationType">
         <filter
               name="metaType"
               value="webservice"/>
      </modelElementValidator>

      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.DefaultDataValidator"
            id="org.eclipse.stardust.modeling.validation.dataDefault"
            targetType="org.eclipse.stardust.model.xpdl.carnot.DataType">

      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.dataTypes.EntityBeanValidator"
            id="org.eclipse.stardust.modeling.validation.entityBeanData"
            metaTypeId="entity"
            targetType="org.eclipse.stardust.model.xpdl.carnot.DataType">
         <filter
               name="metaType"
               value="entity"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.dataTypes.EntityBean20Validator"
            id="org.eclipse.stardust.modeling.validation.entity20BeanData"
            metaTypeId="entity"
            targetType="org.eclipse.stardust.model.xpdl.carnot.DataType">
         <filter
               name="metaType"
               value="entity20"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.dataTypes.PrimitiveValidator"
            id="org.eclipse.stardust.modeling.validation.primitiveData"
            metaTypeId="primitive"
            targetType="org.eclipse.stardust.model.xpdl.carnot.DataType">
         <filter
               name="metaType"
               value="primitive"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.dataTypes.SerializableValidator"
            id="org.eclipse.stardust.modeling.validation.serializableData"
            metaTypeId="serializable"
            targetType="org.eclipse.stardust.model.xpdl.carnot.DataType">
         <filter
               name="metaType"
               value="serializable"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.dataTypes.XMLValidator"
            id="org.eclipse.stardust.modeling.validation.plainXmlData"
            metaTypeId="plainXML"
            targetType="org.eclipse.stardust.model.xpdl.carnot.DataType">
         <filter
               name="metaType"
               value="plainXML"/>
      </modelElementValidator>

      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.contextTypes.JFCValidator"
            id="org.eclipse.stardust.modeling.validation.jfcContext"
            metaTypeId="jfc"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ContextType">
         <filter
               name="metaType"
               value="jfc"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.contextTypes.JSPValidator"
            id="org.eclipse.stardust.modeling.validation.jspContext"
            metaTypeId="jsp"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ContextType">
         <filter
               name="metaType"
               value="jsp"/>
      </modelElementValidator>

      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.DefaultActivityValidator"
            id="org.eclipse.stardust.modeling.validation.activityDefault"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ActivityType">
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.DataMappingValidator"
            id="org.eclipse.stardust.modeling.validation.dataMapping"
            targetType="org.eclipse.stardust.model.xpdl.carnot.DataMappingType">
      </modelElementValidator>

	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.DataPathValidator"
			id="org.eclipse.stardust.modeling.validation.dataPath"
			targetType="org.eclipse.stardust.model.xpdl.carnot.DataPathType"/>

      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.ModelerValidator"
            id="org.eclipse.stardust.modeling.validation.modeler"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ModelerType"/>

      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.DefaultProcessDefinitionValidator"
            id="org.eclipse.stardust.modeling.validation.processDefinition"
            targetType="org.eclipse.stardust.model.xpdl.carnot.ProcessDefinitionType"/>

	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.EventHandlerValidator"
			id="org.eclipse.stardust.modeling.validation.eventHandler"
			targetType="org.eclipse.stardust.model.xpdl.carnot.EventHandlerType"/>

      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.conditionTypes.TimerValidator"
            id="org.eclipse.stardust.modeling.validation.timerEventCondition"
            metaTypeId="timer"
            targetType="org.eclipse.stardust.model.xpdl.carnot.EventHandlerType">
         <filter
               name="metaType"
               value="timer"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.conditionTypes.ExceptionConditionValidator"
            id="org.eclipse.stardust.modeling.validation.exceptionEventCondition"
            metaTypeId="exception"
            targetType="org.eclipse.stardust.model.xpdl.carnot.EventHandlerType">
         <filter
               name="metaType"
               value="exception"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.conditionTypes.StatechangeConditionValidator"
            id="org.eclipse.stardust.modeling.validation.activityStateChangeCondition"
            metaTypeId="statechange"
            targetType="org.eclipse.stardust.model.xpdl.carnot.EventHandlerType">
         <filter
               name="metaType"
               value="statechange"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.conditionTypes.StatechangeConditionValidator"
            id="org.eclipse.stardust.modeling.validation.processStateChangeCondition"
            metaTypeId="processStatechange"
            targetType="org.eclipse.stardust.model.xpdl.carnot.EventHandlerType">
         <filter
               name="metaType"
               value="processStatechange"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.conditionTypes.ObserverNotificationValidator"
            id="org.eclipse.stardust.modeling.validation.wfxmlObserverCondition"
            metaTypeId="observer"
            targetType="org.eclipse.stardust.model.xpdl.carnot.EventHandlerType">
         <filter
               name="metaType"
               value="observer"/>
      </modelElementValidator>

	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.ActionValidator"
			id="org.eclipse.stardust.modeling.validation.eventAction"
			targetType="org.eclipse.stardust.model.xpdl.carnot.EventActionType"/>
	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.ActionValidator"
			id="org.eclipse.stardust.modeling.validation.bindAction"
			targetType="org.eclipse.stardust.model.xpdl.carnot.BindActionType"/>
	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.ActionValidator"
			id="org.eclipse.stardust.modeling.validation.unbindAction"
			targetType="org.eclipse.stardust.model.xpdl.carnot.UnbindActionType"/>

      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.actionTypes.TriggerActionValidator"
            id="org.eclipse.stardust.modeling.validation.triggerProcessAction"
            metaTypeId="trigger"
            targetType="org.eclipse.stardust.model.xpdl.carnot.EventActionType">
         <filter
               name="metaType"
               value="trigger"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.actionTypes.MailActionValidator"
            id="org.eclipse.stardust.modeling.validation.sendMailAction"
            metaTypeId="mail"
            targetType="org.eclipse.stardust.model.xpdl.carnot.EventActionType">
         <filter
               name="metaType"
               value="mail"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.actionTypes.DelegateActivityActionValidator"
            id="org.eclipse.stardust.modeling.validation.delegateActivityAction"
            metaTypeId="delegateActivity"
            targetType="org.eclipse.stardust.model.xpdl.carnot.EventActionType">
         <filter
               name="metaType"
               value="delegateActivity"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.actionTypes.ExcludeUserActionValidator"
            id="org.eclipse.stardust.modeling.validation.excludeUserAction"
            metaTypeId="excludeUser"
            targetType="org.eclipse.stardust.model.xpdl.carnot.EventActionType">
         <filter
               name="metaType"
               value="excludeUser"/>
      </modelElementValidator>
      <modelElementValidator
            class="org.eclipse.stardust.modeling.validation.impl.spi.actionTypes.SetDataActionValidator"
            id="org.eclipse.stardust.modeling.validation.setDataAction"
            metaTypeId="setData"
            targetType="org.eclipse.stardust.model.xpdl.carnot.EventActionType">
         <filter
               name="metaType"
               value="setData"/>
      </modelElementValidator>

	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.RoleValidator"
			id="org.eclipse.stardust.modeling.validation.role"
			targetType="org.eclipse.stardust.model.xpdl.carnot.RoleType"/>
	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.OrganizationValidator"
			id="org.eclipse.stardust.modeling.validation.organization"
			targetType="org.eclipse.stardust.model.xpdl.carnot.OrganizationType"/>
	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.ConditionalPerformerValidator"
			id="org.eclipse.stardust.modeling.validation.conditionalPerformer"
			targetType="org.eclipse.stardust.model.xpdl.carnot.ConditionalPerformerType"/>
	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.TransitionValidator"
			id="org.eclipse.stardust.modeling.validation.transition"
			targetType="org.eclipse.stardust.model.xpdl.carnot.TransitionType"/>
	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.DiagramValidator"
			id="org.eclipse.stardust.modeling.validation.diagram"
			targetType="org.eclipse.stardust.model.xpdl.carnot.DiagramType"/>
	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.PoolValidator"
			id="org.eclipse.stardust.modeling.validation.pool"
			targetType="org.eclipse.stardust.model.xpdl.carnot.PoolSymbol"/>
	  <modelElementValidator
			class="org.eclipse.stardust.modeling.validation.impl.LaneValidator"
			id="org.eclipse.stardust.modeling.validation.lane"
			targetType="org.eclipse.stardust.model.xpdl.carnot.LaneSymbol"/>
   <modelElementValidator
         class="org.eclipse.stardust.modeling.validation.impl.StartEventValidator"
         id="org.eclipse.stardust.modeling.validation.startEvent"
         targetType="org.eclipse.stardust.model.xpdl.carnot.StartEventSymbol"/>
   <modelElementValidator
         class="org.eclipse.stardust.modeling.validation.impl.ReferencedModelElementValidator"
         id="org.eclipse.stardust.modeling.validation.referencedModelElement"
         targetType="org.eclipse.stardust.model.xpdl.carnot.IIdentifiableModelElement">
   </modelElementValidator>
   <modelElementValidator
         class="org.eclipse.stardust.modeling.validation.impl.ProcessInterfaceValidator"
         id="org.eclipse.stardust.modeling.validation.processInterface"
         targetType="org.eclipse.stardust.model.xpdl.carnot.ProcessDefinitionType">
   </modelElementValidator>
   </extension>
   <extension
         point="org.eclipse.stardust.modeling.validation.bridgeObjectProvider">
      <bridgeObjectProvider
            class="org.eclipse.stardust.modeling.validation.impl.spi.dataTypes.PrimitiveValidator"
            id="org.eclipse.stardust.modeling.validation.primitiveBridgeProvider"
            dataTypeId="primitive"/>
      <bridgeObjectProvider
            class="org.eclipse.stardust.modeling.validation.impl.spi.dataTypes.SerializableValidator"
            id="org.eclipse.stardust.modeling.validation.serializableBridgeProvider"
            dataTypeId="serializable"/>
      <bridgeObjectProvider
            class="org.eclipse.stardust.modeling.validation.impl.spi.dataTypes.EntityBeanValidator"
            id="org.eclipse.stardust.modeling.validation.entityBeanBridgeProvider"
            dataTypeId="entity"/>
      <bridgeObjectProvider
            class="org.eclipse.stardust.modeling.validation.impl.spi.dataTypes.XMLValidator"
            id="org.eclipse.stardust.modeling.validation.xmlBridgeProvider"
            dataTypeId="plainXML"/>
   </extension>

</plugin>
