h1 {
   font-family:   Geneva, Arial, Helvetica, sans-serif;
   font-size:     20px;
   color:         black;
   font-weight:   bold;
   font-style: normal;
   padding-top: 10px;
   padding-bottom: 5px;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #BDB3AE;
   text-align: left;
}

h2 {
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: bold;
   color: black;
   line-height: 18px;
   font-style: normal;
   margin-bottom: 15px;
   padding-top: 10px;
   vertical-align: top;
   border-bottom: 1px dotted #d4d4dd;
   color: #222;
}
h3 {
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: 15px;
   font-weight: bold;
   color: black;
   line-height: 30px;
   font-style: normal;
}
h4 {
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: 10pt;
   font-weight: bold;
   color: black;
   line-height: 30px;
}
body {
      background-color: #FFFFFF;
      text: "#000000";
}

p {
   font-family:   Arial, sans-serif;
   font-size:     12pt;
   color:         #000000;
   font-style: normal;
   line-height: 18px;
   font-weight: normal;
}

table {
   font-size:        10pt;
   font-family: Geneva, Arial, Helvetica, sans-serif;
   border: 1px solid #104A5F;
    width: 100%;
}


pre {
   color:   #000000;
   font-family: "Courier New", Courier, mono;
   font-size: 8pt;
   border: 1px solid #104A5F;
   padding: 10px;
   background-color: #EEEEEE;
}

tt {
   color:   #000000;
   font-family: "Courier New", Courier, mono;
   font-size: 10pt;
}

hr {
    width: 100%;
    height: 1px;
    border: 0px;
    background-color: #BDB3AE;
}

ul {
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: 12pt;
   font-style: normal;
   color: #000000;
}

ol {
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: 10pt;
   font-weight: normal;
   line-height: 18px;
}

li{
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: 12pt;
}

#footer {
    clear:left;
    margin-top:1em;
    text-align:left;
   font-size: 8pt;
}
