<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.stardust.model.xpdl.resourceResolver">
      <resolver
            class="org.eclipse.stardust.modeling.common.platform.utils.WorkspaceResourceResolver"
            name="Workspace Resource Resolver">
      </resolver>
   </extension>

</plugin>
