<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2011 SunGard CSA LLC and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
       SunGard CSA LLC - initial API and implementation and/or initial documentation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page id="_cwm_spi_application_"
            category="spi"
            class="org.eclipse.stardust.modeling.integration.webservices.JaxWSPropertyPage"
            name="JaxWsWebserviceApplication"
            objectClass="org.eclipse.stardust.model.xpdl.carnot.ApplicationType">
         <filter
               name="metaType"
               value="jaxws"/>
      </page>
   </extension>
</plugin>