<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.menus">
	
		<menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
			<separator>
			</separator>
			<menu label="Stardust BPMN2" id="org.eclipse.stardust.model.bpmn2.menu">
				<command commandId="org.eclipse.stardust.bpmn2.transform" label="Transform" style="push">			
					<visibleWhen checkEnabled="false">
						<with variable="activeMenuSelection">
	                  		<iterate ifEmpty="false" operator="or">
						      <adapt type="org.eclipse.core.resources.IResource">
						         <or>
						             <test property="org.eclipse.core.resources.extension"
						                   value="bpmn">
						             </test>
						             <test property="org.eclipse.core.resources.extension"
						                   value="bpmn2">
						             </test>
						         </or>
						      </adapt>
	                     	</iterate>
	                     </with>
	            	</visibleWhen>
				</command>
			</menu>
		</menuContribution>
	
	<menuContribution
	    locationURI= "menu:org.eclipse.bpmn2.modeler.diagram.menu?after=additions">
			<separator>
			</separator>
			<menu label="Stardust BPMN2" id="org.eclipse.stardust.model.bpmn2.menu">
		        <visibleWhen>
		           <with
		                 variable="activeEditorId">
		              <equals
		                    value="org.eclipse.bpmn2.modeler.ui.bpmn2editor">
		              </equals>
		           </with>
		        </visibleWhen>			
				<command commandId="org.eclipse.stardust.bpmn2.load.defaults" label="Initialize Stardust defaults" style="push">
				</command>
	    	</menu>
	</menuContribution>
			
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command defaultHandler="org.eclipse.bpmn2.modeler.runtime.stardust.utils.TransformActionHandler" id="org.eclipse.stardust.bpmn2.transform" name="Transform">
		</command>
		<command defaultHandler="org.eclipse.bpmn2.modeler.runtime.stardust.utils.InitDefaultsActionHandler" id="org.eclipse.stardust.bpmn2.load.defaults" name="Load Defaults">
		</command>
	</extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated sdbpmn -->
      <parser
            type="carnot"
            class="org.eclipse.stardust.model.xpdl.carnot.util.CarnotResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sdbpmn -->
      <package
            uri="http://www.carnot.ag/org.eclipse.stardust.model.xpdl/3.1"
            class="org.eclipse.stardust.model.xpdl.carnot.extensions.ExtensionsPackage"
            genModel="model/sdbpmn.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated NOT sdbpmn -->
      <parser
            type="carnot-extensions"
            class="org.eclipse.stardust.model.xpdl.carnot.extensions.util.ExtensionsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sdbpmn -->
      <package
            uri="http://www.wfmc.org/2008/XPDL2.1"
            class="org.eclipse.stardust.model.xpdl.xpdl2.XpdlPackage"
            genModel="model/sdbpmn.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated sdbpmn -->
      <parser
            type="org.eclipse.stardust.model.xpdl"
            class="org.eclipse.stardust.model.xpdl.xpdl2.util.XpdlResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sdbpmn -->
      <package
            uri="http://www.carnot.ag/workflowmodel/3.1/org.eclipse.stardust.model.xpdl/extensions"
            class="org.eclipse.stardust.model.xpdl.xpdl2.extensions.ExtensionsPackage"
            genModel="model/sdbpmn.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated NOT sdbpmn -->
      <parser
            type="org.eclipse.stardust.model.xpdl-extensions"
            class="org.eclipse.stardust.model.xpdl.xpdl2.extensions.util.ExtensionsResourceFactoryImpl"/>
   </extension>

	<extension
		point="org.eclipse.bpmn2.modeler.runtime">
		
		<runtime name="Stardust" versions="1.0"
			id="org.eclipse.bpmn2.modeler.runtime.stardust"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.StardustRuntimeExtension"
			description="BPMN2 Modeler Runtime Extensions for Stardust">
		</runtime>


		<model
			resourceFactory="org.eclipse.bpmn2.modeler.runtime.stardust.utils.io.SdbpmnModelerResourceFactoryImpl"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			uri="http://www.eclipse.org/stardust/model/bpmn2/sdbpmn">
		</model>

		<!--
		This makes the sdbpmn model known to the editor. The "uri" must be the same as the
		"nsURI" defined in the EMF model's ecore.
		-->
		<model runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			uri="http://www.eclipse.org/stardust/model/bpmn2/sdbpmn">
		</model>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.timerEvent.tab"
			replaceTab="org.eclipse.bpmn2.modeler.timerEvent.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustEventDefinitionPropertySection"
			type="org.eclipse.bpmn2.TimerEventDefinition"
			label="Timer Event">
		</propertyTab>
		
		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.interface.tab"
			replaceTab="org.eclipse.bpmn2.modeler.interface.details.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustInterfaceDefinitionPropertySection"
			type="org.eclipse.bpmn2.Interface"
			label="Interface">
		</propertyTab>
		

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.dataAssociation.tab"
			replaceTab="org.eclipse.bpmn2.modeler.dataAssocation.tab"
			class="default"
			features="assignment"
			type="org.eclipse.bpmn2.DataInputAssociation org.eclipse.bpmn2.DataOutputAssociation"
			label="Data Association">
		</propertyTab>
		
		<propertyTab
	        id="bpmn2.jbpm.serviceTask.tab"
	        replaceTab="org.eclipse.bpmn2.modeler.serviceTask.tab"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
		    class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustServiceTaskPropertySection"
		    type="org.eclipse.bpmn2.ServiceTask"
		    label="Service Task">
		</propertyTab>
				
<!-- class="org.eclipse.bpmn2.modeler.runtime.stardust.composites.StardustDataAssociationPropertySection" -->
		<!--<modelExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.modelExtension.TimerEvent"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			name="Timer Event Definition Extensions"
			type="TimerEventDefinition">
			<property name="stopTime" type="EDate" label="Stop Time"/>
		</modelExtension>-->
		
		<!--
		This adapter is responsible for constructing the appropriate object hierarchy for
		a given Application Type. Whenever the user selects an Application Type from the
		Stardust Interface -> Application Type combo box, this adapter's setValue() method
		is called by the combo editor to set the new Application Type value; it then also
		builds the object hierarchy within the same EMF transaction.
		-->
		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.StardustInterface"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.stardust.model.bpmn2.sdbpmn.StardustInterfaceType"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.StardustInterfaceExtendedPropertiesAdapter">
		</propertyExtension>

		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.CamelAccessPoint"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.stardust.model.bpmn2.sdbpmn.StardustAccessPointType"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.camel.CamelAccesspointsExtendedPropertiesAdapter">
		</propertyExtension>
		
		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.AttributeType"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.stardust.model.xpdl.carnot.AttributeType"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.AttributeTypeExtendedPropertiesAdapter">
		</propertyExtension>

		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.Interface"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.bpmn2.Interface"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.StardustInterfacePropertiesAdapter">
		</propertyExtension>
		
		<!--
		Enable the Stardust and Carnot model objects here. Unless explicitly enabled, these
		objects will not be rendered in Property Sheets.
		-->
		<modelEnablement
				runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
				id="profile.1"
				profile="Full"
				ref="org.eclipse.bpmn2.modeler.runtime.none:profile.1"
				description="Stardust elements and attributes">
			<enable object="StardustInterfaceType"/>
			<enable object="StardustApplicationType"/>
			<enable object="StardustStartEventType"/>
			<enable object="StardustAccessPointType"/>
		</modelEnablement>
		
		
		<typeLanguage name="XSD Schema" uri="http://www.w3.org/2001/XMLSchema" prefix="xs">
			<type name="string"/>
			<type name="date"/>
			<type name="dateTime"/>			
			<type name="byte"/>
			<type name="double"/>
			<type name="int"/>
			<type name="integer"/>
			<type name="long"/>
			<type name="short"/>
			<type name="boolean"/>
		</typeLanguage>
		
		<typeLanguage name="Java Types" uri="http://www.java.com/javaTypes" prefix="java">
			<type name="Boolean" qname="java.lang.Boolean"/>
			<type name="Byte" qname="java.lang.Byte"/>
			<type name="Character" qname="java.lang.Character"/>
			<type name="Float" qname="java.lang.Float"/>
			<type name="Integer" qname="java.lang.Integer"/>
			<type name="Long" qname="java.lang.Long"/>
			<type name="Short" qname="java.lang.Short"/>
			<type name="Double" qname="java.lang.Double"/>
			<type name="String" qname="java.lang.String"/>
			<type name="Object" qname="java.lang.Object"/>
		</typeLanguage>
				
	</extension>

</plugin>
