<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.menus">

		<menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
			<separator>
			</separator>
			<menu label="Stardust BPMN2" id="org.eclipse.stardust.model.bpmn2.menu">
				<command commandId="org.eclipse.stardust.bpmn2.transform" label="Transform" style="push">
					<visibleWhen checkEnabled="false">
						<with variable="activeMenuSelection">
	                  		<iterate ifEmpty="false" operator="or">
						      <adapt type="org.eclipse.core.resources.IResource">
						         <or>
						             <test property="org.eclipse.core.resources.extension"
						                   value="bpmn">
						             </test>
						             <test property="org.eclipse.core.resources.extension"
						                   value="bpmn2">
						             </test>
						         </or>
						      </adapt>
	                     	</iterate>
	                     </with>
	            	</visibleWhen>
				</command>
			</menu>
		</menuContribution>

	<menuContribution
	    locationURI= "menu:org.eclipse.bpmn2.modeler.diagram.menu?after=additions">
			<separator>
			</separator>
			<menu label="Stardust BPMN2" id="org.eclipse.stardust.model.bpmn2.menu">
		        <visibleWhen>
		           <with
		                 variable="activeEditorId">
		              <equals
		                    value="org.eclipse.bpmn2.modeler.ui.bpmn2editor">
		              </equals>
		           </with>
		        </visibleWhen>
				<command commandId="org.eclipse.stardust.bpmn2.load.defaults" label="Initialize Stardust defaults" style="push">
				</command>
	    	</menu>
	</menuContribution>

	</extension>
	<extension point="org.eclipse.ui.commands">
		<command defaultHandler="org.eclipse.bpmn2.modeler.runtime.stardust.utils.TransformActionHandler" id="org.eclipse.stardust.bpmn2.transform" name="Transform">
		</command>
		<command defaultHandler="org.eclipse.bpmn2.modeler.runtime.stardust.utils.InitDefaultsActionHandler" id="org.eclipse.stardust.bpmn2.load.defaults" name="Load Defaults">
		</command>
	</extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated sdbpmn -->
      <parser
            type="carnot"
            class="org.eclipse.stardust.model.xpdl.carnot.util.CarnotResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated NOT sdbpmn -->
      <package
            uri="http://www.carnot.ag/org.eclipse.stardust.model.xpdl/3.1"
            class="org.eclipse.stardust.model.xpdl.carnot.extensions.ExtensionsPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated NOT sdbpmn -->
      <parser
            type="carnot-extensions"
            class="org.eclipse.stardust.model.xpdl.carnot.extensions.util.ExtensionsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated NOT sdbpmn -->
      <package
            uri="http://www.wfmc.org/2008/XPDL2.1"
            class="org.eclipse.stardust.model.xpdl.xpdl2.XpdlPackage" />
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated sdbpmn -->
      <parser
            type="org.eclipse.stardust.model.xpdl"
            class="org.eclipse.stardust.model.xpdl.xpdl2.util.XpdlResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sdbpmn -->
      <package
            uri="http://www.carnot.ag/workflowmodel/3.1/org.eclipse.stardust.model.xpdl/extensions"
            class="org.eclipse.stardust.model.xpdl.xpdl2.extensions.ExtensionsPackage" />
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated NOT sdbpmn -->
      <parser
            type="org.eclipse.stardust.model.xpdl-extensions"
            class="org.eclipse.stardust.model.xpdl.xpdl2.extensions.util.ExtensionsResourceFactoryImpl"/>
   </extension>

	<extension
		point="org.eclipse.bpmn2.modeler.runtime">

		<runtime name="Stardust" versions="1.0"
			id="org.eclipse.bpmn2.modeler.runtime.stardust"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.StardustRuntimeExtension"
			description="BPMN2 Modeler Runtime Extensions for Stardust">
		</runtime>


		<model
			resourceFactory="org.eclipse.bpmn2.modeler.runtime.stardust.utils.io.SdbpmnModelerResourceFactoryImpl"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			uri="http://www.eclipse.org/stardust/model/bpmn2/sdbpmn">
		</model>

		<!--
		This makes the sdbpmn model known to the editor. The "uri" must be the same as the
		"nsURI" defined in the EMF model's ecore.
		-->
		<model runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			uri="http://www.eclipse.org/stardust/model/bpmn2/sdbpmn">
		</model>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.timerEvent.tab"
			replaceTab="org.eclipse.bpmn2.modeler.timerEvent.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustEventDefinitionPropertySection"
			type="org.eclipse.bpmn2.TimerEventDefinition"
			label="Timer Event">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.interface.tab"
			replaceTab="org.eclipse.bpmn2.modeler.interface.details.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustInterfaceDefinitionPropertySection"
			type="org.eclipse.bpmn2.Interface"
			label="Interface">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.usertask.implementation.tab"
			afterTab="org.eclipse.bpmn2.modeler.userTask.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustUserTaskImplementationPropertySection"
			type="org.eclipse.bpmn2.UserTask"
			label="Interactive Application">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.dataAssociation.tab"
			replaceTab="org.eclipse.bpmn2.modeler.dataAssocation.tab"
			class="default"
			features="assignment"
			type="org.eclipse.bpmn2.DataInputAssociation org.eclipse.bpmn2.DataOutputAssociation"
			label="Data Association">
		</propertyTab>

		<propertyTab
	        id="org.eclipse.bpmn2.modeler.runtime.stardust.serviceTask.tab"
	        replaceTab="org.eclipse.bpmn2.modeler.serviceTask.tab"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
		    class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustServiceTaskPropertySection"
		    type="org.eclipse.bpmn2.ServiceTask"
		    label="Service Task">
		</propertyTab>

		<propertyTab
	        id="org.eclipse.bpmn2.modeler.runtime.stardust.datastore.tab"
	        replaceTab="org.eclipse.bpmn2.modeler.datastore.tab"
		    class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustDataStorePropertySection"
		    type="org.eclipse.bpmn2.DataStore org.eclipse.bpmn2.DataStoreReference"
		    label="Data Store">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.datastoreref.tab"
			replaceTab="org.eclipse.bpmn2.modeler.datastoreref.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustDataStoreReferencePropertySection"
			type="org.eclipse.bpmn2.DataStoreReference"
			label="Datastore Reference">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.dataobject.tab"
			replaceTab="org.eclipse.bpmn2.modeler.dataobject.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustDataObjectPropertySection"
			type="org.eclipse.bpmn2.DataObject org.eclipse.bpmn2.DataObjectReference"
			label="Data Object">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.dataobjectref.tab"
			replaceTab="org.eclipse.bpmn2.modeler.dataobjectref.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustDataObjectReferencePropertySection"
			type="org.eclipse.bpmn2.DataObjectReference"
			label="Dataobject Reference">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.catchevent.tab"
			afterTab="org.eclipse.bpmn2.modeler.commonEvent.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustCatchEventPropertySection"
			type="org.eclipse.bpmn2.CatchEvent"
			label="Event Data">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.commonEvent.tab"
			replaceTab="org.eclipse.bpmn2.modeler.commonEvent.tab"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustCommonEventPropertySection"
			type="org.eclipse.bpmn2.Event"
			label="Event">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.startEvent.tab"
			afterTab="org.eclipse.bpmn2.modeler.runtime.stardust.commonEvent.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustStartEventPropertySection"
			type="org.eclipse.bpmn2.StartEvent"
			label="Stardust Trigger">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.performer.tab"
			afterTab="org.eclipse.bpmn2.modeler.definitions.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustPerformerPropertySection"
			type="org.eclipse.bpmn2.Definitions org.eclipse.bpmn2.Process org.eclipse.bpmn2.Collaboration org.eclipse.bpmn2.Participant"
			label="Performer">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.userTask.tab"
			replaceTab="org.eclipse.bpmn2.modeler.userTask.tab"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.tasks.StardustUserTaskPropertySection"
			type="org.eclipse.bpmn2.UserTask"
			label="User Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.runtime.stardust.definitions.tab"
			afterTab="org.eclipse.bpmn2.modeler.interface.tab"
			replaceTab="org.eclipse.bpmn2.modeler.definitions.tab"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.property.StardustDefinitionsPropertySection"
			type="org.eclipse.bpmn2.Definitions"
			label="Definitions">
		</propertyTab>


<!-- class="org.eclipse.bpmn2.modeler.runtime.stardust.composites.StardustDataAssociationPropertySection" -->
		<!--<modelExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.modelExtension.TimerEvent"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			name="Timer Event Definition Extensions"
			type="TimerEventDefinition">
			<property name="stopTime" type="EDate" label="Stop Time"/>
		</modelExtension>-->

		<!--
		This adapter is responsible for constructing the appropriate object hierarchy for
		a given Application Type. Whenever the user selects an Application Type from the
		Stardust Interface -> Application Type combo box, this adapter's setValue() method
		is called by the combo editor to set the new Application Type value; it then also
		builds the object hierarchy within the same EMF transaction.
		-->
		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.StardustInterface"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.stardust.model.bpmn2.sdbpmn.StardustInterfaceType"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.StardustInterfaceExtendedPropertiesAdapter">
		</propertyExtension>

<!--
		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.StardustStartEvent"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.stardust.model.bpmn2.sdbpmn.StardustStartEventType"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.StardustStartEventExtendedPropertiesAdapter">
		</propertyExtension>
-->

		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.StardustDataObject"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.stardust.model.bpmn2.sdbpmn.StardustDataObjectType"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.StardustDataObjectExtendedPropertiesAdapter">
		</propertyExtension>

		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.StardustDataStore"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.stardust.model.bpmn2.sdbpmn.StardustDataStoreType"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.StardustDataStoreExtendedPropertiesAdapter">
		</propertyExtension>

		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.AccessPoint"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.stardust.model.bpmn2.sdbpmn.StardustAccessPointType"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.accesspoint.StardustAccesspointsExtendedPropertiesAdapter">
		</propertyExtension>

		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.AttributeType"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.stardust.model.xpdl.carnot.AttributeType"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.AttributeTypeExtendedPropertiesAdapter">
		</propertyExtension>

		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.Interface"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.bpmn2.Interface"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.StardustInterfacePropertiesAdapter">
		</propertyExtension>

		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.StardustUserTask"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.stardust.model.bpmn2.sdbpmn.StardustUserTaskType"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.StardustUserTaskPropertiesAdapter">
		</propertyExtension>

<!--
		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.StardustPerformerResource"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.stardust.model.bpmn2.sdbpmn.StardustResourceType"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.performer.StardustResourcePropertiesAdapter">
		</propertyExtension>
-->

		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.StardustConditionalPerformer"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.stardust.model.xpdl.carnot.ConditionalPerformerType"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.performer.StardustConditionalPerformerPropertiesAdapter">
		</propertyExtension>

<!--
		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.stardust.propertyExtension.StardustEvent"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
			type="org.eclipse.bpmn2.CatchEvent"
			class="org.eclipse.bpmn2.modeler.runtime.stardust.adapters.StardustCatchEventPropertiesAdapter">
		</propertyExtension>
-->
		<!--
		Enable the Stardust and Carnot model objects here. Unless explicitly enabled, these
		objects will not be rendered in Property Sheets.
		-->
		<modelEnablement
				runtimeId="org.eclipse.bpmn2.modeler.runtime.stardust"
				id="profile.1"
				profile="Full"
				ref="org.eclipse.bpmn2.modeler.runtime.none:profile.1"
				description="Stardust elements and attributes">
<enable object="all"/>
			<enable object="StardustInterfaceType"/>
			<enable object="StardustApplicationType"/>
			<enable object="StardustContextType" />
			<enable object="StardustStartEventType"/>
			<enable object="StardustAccessPointType" />
			<enable object="StardustUserTaskType"/>
			<enable object="StardustDataStoreType"/>
			<enable object="StardustDataObjectType"/>
			<enable object="CatchEvent"/>
			<enable object="Event"/>
			<enable object="Definitions"/>
			<enable object="IntermediateCatchEvent"/>
			<enable object="DataInput" feature="name"/>
			<enable object="DataOutput" feature="name"/>
			<enable object="XSDSchema"/>

			<enable object="StardustResourceType"/>
			<enable object="ConditionalPerformerType"/>

			<enable object="StartEvent" feature="dataOutputs"/>
			<enable object="IntermediateCatchEvent" feature="dataOutputs"/>


		</modelEnablement>


		<typeLanguage name="XSD Schema" uri="http://www.w3.org/2001/XMLSchema" prefix="xsd">
			<type name="string"/>
			<type name="date"/>
			<type name="dateTime"/>
			<type name="byte"/>
			<type name="double"/>
			<type name="int"/>
			<type name="integer"/>
			<type name="long"/>
			<type name="short"/>
			<type name="boolean"/>
		</typeLanguage>

		<typeLanguage name="Java Types" uri="http://www.java.com/javaTypes" prefix="java">
			<type name="Boolean" qname="java.lang.Boolean"/>
			<type name="Byte" qname="java.lang.Byte"/>
			<type name="Character" qname="java.lang.Character"/>
			<type name="Float" qname="java.lang.Float"/>
			<type name="Integer" qname="java.lang.Integer"/>
			<type name="Long" qname="java.lang.Long"/>
			<type name="Short" qname="java.lang.Short"/>
			<type name="Double" qname="java.lang.Double"/>
			<type name="String" qname="java.lang.String"/>
			<type name="Object" qname="java.lang.Object"/>
		</typeLanguage>

		<expressionLanguage name="ECMA" uri="http://www.ecmascript.org/ECMA"/>

	</extension>

</plugin>
